:root {
  --light-color: black;
  --dark-color: white;
  --light-border: darkslategray;
  --dark-border: lightgrey;
  --light-bg: lightgrey;
  --dark-bg: black;
  --disabled: rgb(50, 50, 50);
}

body.light {
  --color: var(--light-color);
  color: var(--color);
  --border: var(--light-border)
  --bg: var(--light-bg);
  background-color: var(--bg);
}

body.dark {
  --color: var(--dark-color);
  color: var(--color);
  --border: var(--dark-border);
  --bg: var(--dark-bg);
  background-color: var(--bg);
}

td {
  padding: 5px;
}

button {
  border: 1px solid var(--border);
  color: var(--color);
  background-color: var(--bg);
}

select {
  border: 1px solid var(--border);
  color: var(--color);
  background-color: var(--bg);
  margin-left: 5px;
  box-sizing: border-box;
  height: 1.5em;
  width: max-content;
}

input {
  border: 1px solid var(--border);
  border-radius: 0px;
  color: var(--color);
  background-color: var(--bg);
  margin-left: 5px;
  box-sizing: border-box;
  height: 1.5em;
  width: max-content;
}

button:disabled {
  color: var(--disabled);
  border: 1px solid var(--disabled);
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}