.DS_Store
example.html
web-ext-artifacts/**/*
.web-extension-id
replace.js
filter_page/index.js
word_list.json
filter_page/codemirror-5.65.7
Scratch That Logo.afdesign
node_modules/
yarn.lock
filter_page/filter.js
filter_page/filter.terms.js
filter_page/bundle.js
filter_page/bundle.js.map
filter_page/dist/
filter_page/ts_dist/
filter_page_old/
replace/replace.js
replace/worker.js
background.js
