:root {
    --light-color: black;
    --dark-color: white;
    --light-border: darkslategray;
    --dark-border: lightgrey;
    --light-bg: lightgrey;
    --dark-bg: black;
}

html, body {
    height: max-content;
}

div.CodeMirror {
    height: 100%;
}

.line_error {
    color: rgb(255, 0, 0);
    padding-left: 5px;
}

body.light {
    --color: var(--light-color);
    color: var(--color);
    --border: var(--light-border)
    --bg: var(--light-bg);
    background-color: var(--bg);
}

body.dark {
    --color: var(--dark-color);
    color: var(--color);
    --border: var(--dark-border);
    --bg: var(--dark-bg);
    background-color: var(--bg);
}

td {
    padding: 5px;
}

button {
    border: 1px solid var(--border);
    color: var(--color);
    background-color: var(--bg);
}
